<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="cleanURL" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="?id={R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
